:root {
  --header-color: #212121;
  --first-btn-color: #757575;
  --second-btn-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}
